.DS_Store
.DS_Store?
*.log*
node_modules
client/dist/
client/assets/css/style.css
client/assets/fonts
yarn.lock

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
