.profile--tags{
	max-width: 920px;
	margin-left: 0;
}

.profile--info{
	display: flex;
	flex-wrap: row;
	align-items: flex-start;
	margin-bottom: 30px;
}

.profile--description{
	padding-right: 15px;
	flex-grow: 1;
}

.profile--contacts{
	flex-basis: 320px;
}


/***  profile--description  ***/
.profile--photo{
	// width: 150px;
	// height: 150px;
	margin-right: 15px;
	// border: 1px solid $theme-color;
	border-radius: 50%;
}
.profile--top-container{
	display: flex;
	margin-bottom: 25px;
}
.profile--user-info{
	flex-grow: 1;
}
.profile--user-detail{
	display: flex;
	margin-bottom: 18px;
}
.profile--user-email-title,
.profile--user-description--title{
	margin-right: 8px;
	font-weight: 600;
	font-size: 16px;
}
.ui.form {
	.profile--user-description{
		min-height: 75px;
    margin-top: 5px;
		border: 1px solid $theme-color-secondary;
	}
}

.profile--user-description--readonly{
	min-height: 75px;
	margin-top: 5px;
	padding: 11px 14px;
	border: 1px solid $secondary-border-color;
	border-radius: 4px;
}

.profile--search{
	&.button.ui{
		display: table;
		margin: 22px auto 40px;
	}
}


/***  profile--contacts  ***/
