.heading{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.heading--title{
	margin-bottom: 0;
}

.heading--user-name{
	margin-right: 10px;
}

.heading--profile-btn{
	@include hoverAsBtn();
}
