.login__container{
	max-width: 560px;
	margin: auto;
}

.message__medium-size{
	max-width: 720px;
	padding-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

.login__tab-wrapper{
	margin-bottom: 15px;
}

.login__fb-btn{
	float: right;
}
