.search-results{
	margin-top: 40;
	.column{
		position: relative;
	}
}

.search-results--single-result{
	margin-bottom: 25px;
}


// Buttons block
.search-results--buttons-block{
	position: relative;
	margin-bottom: 45px;
	@include clearfix();
}
.search-results--toggle-btn{
	float: left;
}
.search-results--toggle-btn-title{
	margin-left: 20px;
	margin-top: 11px;
	float: left;
}
.search-results--search-btn{
	@include center();
}


.search-results--row-looking,
.search-results--row-offer{
	position: absolute;
	margin-left: 14px;
	top: 14px;
	white-space: nowrap;
	@include transition(all, 1.2s);
}
.search-results--row-looking{
	left: 0;
}
.search-results--row-offer{
	left: 0;
}
.search-results--offer-to-looking{
	.search-results--row-offer{
    left: -100%;
	}
	.search-results--row-looking{
		left: 100%;
	}
}

// Search result
.result-row{
	display: flex;
	margin-bottom: 25px;
	border: 1px solid $secondary-border-color;
	border-radius: 2px;
}

.result-row__user-info{
	width: 175px;
	padding: 8px 10px;
}
.result-row__user-name{
	margin-bottom: 6px;
}

.result-row__tag-container{
	display: flex;
	flex-grow: 10;
}

.result-row__tag-container-cell{
	width: 50%;
	padding: 12px 10px;
	border-left: 1px solid $secondary-border-color;
}
